{% extends "base.html" %}

{% block title %}
Online Examination System
{% endblock %}
{% block content %}
<article>
    <header>
        <h1>Online Testing platform</h1>
        <p>Full online data entry with online validations on field and referential checking, context sensitive makes the registration of the user information easy and comfortable for the user. The goal of the system is to bring down the workload with the increased efficiency and to speed up the activities such as displaying results instantaneously.User – friendly screens to the processes in the system with different access paths to the different users are to ensure the easier and secured access to different users.</p>
    </header>
    <section>
        <h1>IF TEACHER</h1>
        <p>Enter teacher login on the top right corner.Login using your login email Id and password provided by the administration.After login you will provided with an option to add questions and options for the questions and choose the coorect option for that question.There will be an optional window showing the number of questions when satisfied with the number of questions you can coinduct the test now and get the result in an report format </p>
    </section>
    <section>
        <h1>ELSE</h1>
        <p>If you're a student you can login using the student login provided at the top of the screen.Your login credentials will be your name and USN provied by your collegue.You'll only be allowed to take up the test if you show up to the examination hall before the designated time.When the exam starts your window will be refreshed with questions and options you have to read the questions properly and enter your choice.You will be provided a timer for the submission for the options and don't be late for it.ALL THE BEST. </p>
    </section>
    <footer>
        <h4>Terms and conditions</h4>
        <p>The company is not responsible for any malpractice happening in the examination hall. It is the sole responsibility of the respective invigilator to make sure that there is no such activities in the examination hall</p>
    </footer>
</article>

<aside>
    <h3>SUBMITTED BY</h3>
    <ul>
        <li>Chandan Gowda</li>
        <li>Dheemanth Manur</li>
        <li>Sharashchandra Desai</li>
        <li>Mohammed Firaaz Farook</li>
    </ul>
</aside>
{% endblock %}
