{% extends "base.html" %} {% block title %} Online Examination System {% endblock %} {% block content %}
<form action="/submit" method="POST">
{% set count = 1 %}
{% for item in questions %}
    <hr>
    <h2>Question  {{ loop.index }}</h2>
  
    <h1>{{ item[1] }}</h1>
    <hr>
    <h4>
        <input type="radio" name="answer{{loop.index}}" value="a" required> {{ item[2] }} <br>
        <input type="radio" name="answer{{loop.index}}" value="b"> {{ item[3] }} <br>
        <input type="radio" name="answer{{loop.index}}" value="c"> {{ item[4] }} <br>
        <input type="radio" name="answer{{loop.index}}" value="d"> {{ item[5] }} <br>
        <input type="radio" name="answer{{loop.index}}" value="e" hidden checked>
    </h4>
    <hr>
    {% endfor %}
    <button type="submit" id="button1">Submit Answer</button>
</form>
<script>
    
    setInterval(function(){
        var button = document.querySelector("#button1");
        var span = document.querySelector("#counter");
        span.textContent = localStorage.timeRemaining;
        var count = localStorage.timeRemaining - 1;
        localStorage.timeRemaining = count
        if (count <= 0) {
            button.click();
        }
    }, 1000);
</script>
{% endblock %}
